.jokeDisplay {
     background-color: #FFEF03;  
     height: 600px; 
     font-family: "Bangers", system-ui; 
     color: #CC2229; 
     display: flex; 
     justify-content: center;
     padding-top: 60px; 
}

.containerButtonAndJoke {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.containerButtonAndJoke button {
    background-color: #F6F6D1; 
    border-radius: 5px; 
    width: 200px; 
    height: 50px; 
    font-family: "Bangers", system-ui;
    color: #CC2229; 
    font-size: 1.2rem; 
    cursor: pointer; 
    box-shadow: 2px 2px 5px black; 
}

.jokeContainer {
    padding-top: 60px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    gap: 20px; 
    font-size: 1.6rem; 
    text-align: center; 
    width: 90%; 
}

@media (min-width: 1024px) {

    .jokeContainer {
    font-size: 2rem; 
    text-align: center; 
    width: 100%; 
}
}